name: cypress-todo-project
on:
  push: 
    branches: ["main"]

jobs: 
  test:
    runs-on: macos-latest
    strategy: 
      matrix:
        containers: [1,2]
    steps:
      - uses: actions/checkout@v3
      - uses: cypress-io/github-action@v4
        with: 
          record: true
          parallel: true 
        env:
          CYPRESS_RECORD_KEY:  a21aecd3-806c-40e8-8ae9-44b4048269ba